@model CurrencyExposure.Model.ContactUs

@{
    ViewBag.Title = "Contact Us";
}

<script>
	$(document).ready(function () {
		$.validator.unobtrusive.parse("#section_body");
		$("ul#navigation li").removeClass("selected");
		$("#ContactTab").addClass("selected");
		$("#pageLoading").css("display", "none");
	});
</script>
<input id="mypageid" type="hidden" value="ContactUs" />
<h2 class="mainheading">Contact Us</h2>
<div class="contact_details">
	<h2>Enquiries</h2>
	<p><a href="mailto:info@currencyexposure.com">info@currencyexposure.com</a></p>
	<br>
	<br>
	<h2>Mailing Address</h2>
	<p>
		Currency Exposure
			<br>
		PO Box H164<br>
		Australia Square NSW 1215<br>
		Australia
	</p>
</div>

@using (Ajax.BeginForm("SaveContactUs", new AjaxOptions
											{
												OnComplete = "contact_submitted",
												OnBegin = "on_contactus_begin"
											}))
{
	@Html.ValidationSummary(true)

	<fieldset>
		<legend>ContactUs</legend>
		<div class="blog_comments_container" style="width: 500px;">
			<div id="comment_Reply">
				<p>
					@Html.EditorFor(model => model.Name)
					@Html.LabelFor(model => model.Name)<br />
					@Html.ValidationMessageFor(model => model.Name)
				</p>
				<p>
					@Html.EditorFor(model => model.Company)
					@Html.LabelFor(model => model.Company)<br />
					@Html.ValidationMessageFor(model => model.Company)
				</p>
				<p>
					@Html.EditorFor(model => model.Email)
					@Html.LabelFor(model => model.Email)<br />
					@Html.ValidationMessageFor(model => model.Email)
				</p>
				<p>
					@Html.EditorFor(model => model.Phone)
					@Html.LabelFor(model => model.Phone)<br />
					@Html.ValidationMessageFor(model => model.Phone)
				</p>
				<p class="text">
					@Html.TextAreaFor(model => model.Comment)<br />
					@Html.ValidationMessageFor(model => model.Comment)
				</p>
				@if (Model.ProductEnquiry)
				{
					<p class="text">
						<label>Product Enquiry</label>
						@Html.CheckBoxFor(model => model.ProductEnquiry, new {@style = "width: 20px;"})<br />
						@Html.ValidationMessageFor(model => model.ProductEnquiry)
					</p>
				}

				<div id="contact_us_return_message" style="display: none">
				</div>

				<p class="submit">
					<input id="submitcomment" type="submit" value="Submit" />
					<img id="contactus_submit_loading" class="loadinggif" src="~/Content/Images/loading.gif" />
				</p>
			</div>
		</div>
	</fieldset>
}

