﻿<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width" />
	<meta property="og:image" content="http://www.currencyexposure.com/content/images/CELogo.png" />
	<meta property="og:site_name" content="Currency Exposure" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/less")
	@Styles.Render("~/Content/tipTip/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/currencyexposure")
	<link rel="shortcut icon" href="../../Content/Images/CELogo.ico" />
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-33498792-1']);
		_gaq.push(['_trackPageview']);
		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
	<body>
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s);
				js.id = id;
				js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			
			function ReInitBlogs() {
				twttr.widgets.load();
				FB.XFBML.parse();
			}
			
			function ReInitHome() {
				twttr.widgets.load();
			}
			
			function onAjaxBegin() {
				$("#pageLoading").css("display", "");
				$("#pageLoading").addClass("ajax-loader");
			}
			function onAjaxFailure () {
				$("#pageLoading").removeClass("ajax-loader");
			}
			function onAjaxEnd() {
				$("#pageLoading").removeClass("ajax-loader");
			}
</script>
		<header>
			<div class="content-wrapper">
				<div class="logo">
					<div class="logo">
						<a href="http://www.currencyexposure.com" title="">
							<img id="logoimage" src="../../Content/Images/slantlogo.png" alt="" height="100px"></a>
					</div>
				</div>
				<div class="float-right">
					<section>
						<div class="home_social">
							<ul>
								<li>
									<a href="mailto:info@CurrencyExposure.com" title="">
										<img src="~/Content/Images/Email.png" alt="">
									</a>
								</li>
								<li>
									
									<a href="https://twitter.com/CurrencyExposur" title="" target="_blank">
										<img src="~/Content/Images/twitter_icon.png" alt="">
									</a>
								</li>
								<li>
									
									<a href="http://www.facebook.com/pages/CurrencyExposurecom/430339047010625" title="" target="_blank">
										<img src="~/Content/Images/facebook_icon.png" alt="">
									</a>
								</li>
							</ul>
						</div>
					</section>
					<nav>
						<ul id="navigation">
							<li id="ContactTab">@Ajax.ActionLink("Contact", "Index", "Contact", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "section_body",OnBegin = "onAjaxBegin", OnComplete = "onAjaxEnd", OnFailure = "onAjaxFailure"})</li>
							<li id="AboutTab">@Ajax.ActionLink("About", "About", "Home", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "section_body",OnBegin = "onAjaxBegin", OnComplete = "onAjaxEnd", OnFailure = "onAjaxFailure" })</li>
							<li id="LinksTab">@Ajax.ActionLink("Links", "Links", "Home", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "section_body",OnBegin = "onAjaxBegin", OnComplete = "onAjaxEnd", OnFailure = "onAjaxFailure" })</li>
							<li id="BlogTab">@Ajax.ActionLink("Blog", "Index", "Blog", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "section_body", OnSuccess = "ReInitBlogs", OnBegin = "onAjaxBegin", OnComplete = "onAjaxEnd", OnFailure = "onAjaxFailure" })</li>
							<li id="HomeTab" class="selected">@Ajax.ActionLink("Home", "Index", "Home", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "section_body", OnSuccess = "ReInitHome", OnBegin = "onAjaxBegin", OnComplete = "onAjaxEnd", OnFailure = "onAjaxFailure"})</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div id="MainSiteDiv">
			<iframe id="tmc-ticker" src="http://themoneyconverter.com/USD/RateTicker.aspx" style="width:1060px;height:30px" scrolling="no" frameborder="0" marginwidth="0" marginheight="0"></iframe>
			<div id="body">
				<section id="section_body" class="content-wrapper main-content">
					@RenderBody()
				</section>
				<div class="footer-middle">
					<label>©2012 CurrencyExposure.com. All rights reserved. </label>
					<div id="ajax-loader-div" style="display: none">
						<img id="pageLoading" src="~/Content/Images/page_loading.gif" class="ajax-loader-image" height="150" width="150" />
					</div>
				</div>
			</div>
		</div>
		@RenderSection("scripts", required: false)
	</body>
</html>
