@model CurrencyExposure.Model.BlogCommentDto

@using (Ajax.BeginForm("SaveComment", new AjaxOptions
										{
											OnComplete = "blog_comment_submitted", 
											OnBegin = "on_blog_comment_begin"
										}))
{
    @Html.ValidationSummary(true)
    <fieldset>
		<legend>BlogComment</legend>
		<div class="blog_comments_container">
			<div id="comment_Reply">
				<h2>Leave a Comment</h2>
				<input type="hidden" name="BlogId" id="BlogId" value="" />
				<p class="name">
					@Html.EditorFor(model => model.Name)
					<label for="name">Name</label><br />
					@Html.ValidationMessageFor(model => model.Name)
				</p>

				<p class="email">
					@Html.EditorFor(model => model.Email)
					<label for="email">E-mail (We will not show this)</label><br />
					@Html.ValidationMessageFor(model => model.Email)
				</p>

				<p class="web">
					@Html.EditorFor(model => model.Title)
					<label for="web">Comment Title</label><br />
					@Html.ValidationMessageFor(model => model.Title)
				</p>

				<p class="text">
					@Html.TextAreaFor(model => model.Comment)<br/>
					@Html.ValidationMessageFor(model => model.Comment)
				</p>
				<div id="blog_comment_return_message" style="display: none">
				</div>
				<p class="submit">
					<input id="blog_comment_submit" type="submit" value="Send" />
					<img id="blog_comment_submit_loading" class="loadinggif" src="~/Content/Images/loading.gif" />
				</p>
			</div>
		</div>
    </fieldset>
}