@model IEnumerable<CurrencyExposure.Model.CommentsListDto>
<ul class="blog_comments_list">
@foreach (var summary in Model)
{
	<li>
		@Ajax.ActionLink(@summary.Title, "GetBlog", "Blog", new { Id = @summary.BlogId }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "section_body", OnSuccess = "ReInitBlogs",OnBegin = "onAjaxBegin", OnComplete = "onAjaxEnd", OnFailure = "onAjaxFailure" })
		<br />
		@summary.Name - @summary.CreateDate.ToShortDateString()
	</li>
}
</ul>
