@model IEnumerable<CurrencyExposure.Model.BlogSummaryDto>
@foreach(var summary in Model)
{
	<div class="blogarticles_template blogfloats">
		@Ajax.ActionLink(@summary.Title, "GetBlog", "Blog", new {Id = @summary.Id}, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "section_body", OnSuccess = "ReInitBlogs",OnBegin = "onAjaxBegin", OnComplete = "onAjaxEnd", OnFailure = "onAjaxFailure" })
		<br />
		@summary.Author - @summary.CreateDate.ToShortDateString()
	</div>
	<br />
}
