@model CurrencyExposure.Model.Blog
@{
    ViewBag.Title = Model.Title;
	string Article = Model.Article;
	string blogId = Model.Id.ToString();
}
<div class="blog_article_floats">
	<div>
		<h2 class="blog_article_floats_header1">Recent Articles</h2>
		<div id="blog_articles_list" class="blog_article_floats_content">
			@{Html.RenderAction("GetArticlesList", "Blog");}
		</div>
	</div>

	<div>
		<h2>Recent Comments</h2>
		<div id="blog_recent_comments_list" class="blog_article_floats_content">
			@{Html.RenderAction("GetCommentsList", "Blog");}
			<div class="blog_float_show_more"><a id="blogcommentbutton" class="" href="/blog/CommentSearch">Find Comments</a></div>
		</div>
		
	</div>
</div>
<div id="blog_blogarticle">
	<h1>@Html.DisplayFor(model => model.Title)</h1>
	<div id="blog_article_content">
		<div class="blog_article_headings">
			<h3>Posted by: @Html.DisplayFor(model => model.BlogAuthor.AuthorName) </h3>
			<br />
			<h3>On: @Html.DisplayFor(model => model.CreateDate)</h3>
		</div>
		<div id="blog_article_article">@MvcHtmlString.Create(Article)</div>
		<div id="blogDisclaimer">
			<p>
				<strong>General Disclaimer:</strong> All ideas, opinions, recommendations and/or forecasts, expressed or implied herein, 
				are for informational and educational purposes only and should not be construed as financial product advice or an inducement 
				or instruction to invest, trade, and/or speculate in the markets. All trading and investing activities are subject to the usual 
				market fluctuations that may result in gains and losses. Any action or refraining from action; investments, trades, and/or speculations made 
				in light of the ideas, opinions, and/or forecasts, expressed or implied herein, are committed at your own risk and consequence, 
				financial or otherwise. Please seek legal and/or financial advice before taking or refraining from such action. 
				Past or historical results may have no bearing of current or future trading or system results.
			</p>
		</div>
	</div>
	<div id="window"></div>
	<input type="hidden" id="mainblogid" value="@Model.Id" />
</div>
<div id="blog_socialLinks">
	<span>
		<a href="mailto:info@CurrencyExposure.com" title="@Html.DisplayFor(model => model.Title): http://www.currencyexposure.com/getblog/@Model.Id.ToString()">
			<img src="~/Content/Images/email.png" alt="" height="22" width="22">
		</a>
	</span>
	<span>
		<fb:like id="fb-blog" href="http://www.currencyexposure.com/getblog/@Model.Id.ToString()/"  title="@ViewBag.Title" send="true" 
				 layout="button_count" width="450" show_faces="false" font="segoe ui"></fb:like>
	</span>
	<span>
	<a id="blog_twitter" href="https://twitter.com/share" class="twitter-share-button" data-text="www.currencyexposure.com | @Model.Title"
	   data-url="http://www.currencyexposure.com/getblog/@Model.Id.ToString()/" data-via="currencyexposur">Tweet</a>
	<script>
		!function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (!d.getElementById(id)) {
				js = d.createElement(s);
				js.id = id;
				js.src = "//platform.twitter.com/widgets.js";
				fjs.parentNode.insertBefore(js, fjs);
			}
		}(document, "script", "twitter-wjs");
	</script>
	</span>
</div>
@{Html.RenderAction("CreateComment", "Blog");}
<h1 class="blogCommentHeader">Comments</h1>
<div id="blogcommentlistdiv">
	@Html.Partial("_BlogCommentListPartial", Model.BlogComments)
</div>
<script>
	$(document).ready(function () {
		$.validator.unobtrusive.parse("#section_body");
		$("ul#navigation li").removeClass("selected");
		$("#BlogTab").addClass("selected");
		var blogId = $("#mainblogid").val();
		$("#BlogId").val(blogId);
		$("#pageLoading").css("display", "none");
	});
</script>
