@model CurrencyExposure.Model.Blog
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
	string Article = Model.Article;
	string blogId = Model.Id.ToString();
}

<script type="text/x-jquery-tmpl" id="blogarticle_template">
	<div class="blogarticles_template blogfloats"><a href="/Blog/GetBlog/${Id}">${Title}</a><br />
		${Author} - ${formatDate(CreateDate)}</div><br />
</script>

<script type="text/x-jquery-tmpl" id="blogcomment_template">
	<div class="blogcomments_template blogfloats"><a href="/Blog/GetBlog/${BlogId}">${Title}</a><br />
		${Name} - ${formatDate(CreateDate)}</div><br />	
</script>


<script>
	function formatDate(datetime) {
		var dateObj = new Date(datetime);
		return dateObj.toDateString();
	}
	$(document).ready(function () {
		$("ul#navigation li").removeClass("selected");
		$("#BlogTab").addClass("selected");

		$.getJSON("/Blog/GetArticlesList", { count: 5 }, function (data) {
			$("#blogarticle_template").tmpl(data).appendTo("#blog_articles_list");
			$(".blogarticles_template:even").css("background-color", "#EBEBE0").css("width", "100%");
			$("#blog_articles_list").append('<div class="blogbuttonblogfloat"><a id="bloglistbutton" class="blogbuttonx blogbuttonblogfloat" href="/blog/BlogSearch">Show More</a></div>');
		});

		$.getJSON("/Blog/GetCommentsList", { count: 5 }, function (data) {
			$("#blogcomment_template").tmpl(data).appendTo("#blog_recent_comments_list");
			$(".blogcomments_template:even").css("background-color", "#EBEBE0");
			$("#blog_recent_comments_list").append('<div class="blogbuttonblogfloat"><a id="blogcommentbutton" class="blogbuttonx" href="/blog/CommentSearch">Show More</a></div>');
		});

		var blogId = $("#mainblogid").val();
		$("#BlogId").val(blogId);
		$("#fb-blog").attr("data-href", "http://www.currencyexposure.com/getblog/" + blogId);
	});
</script>

<div class="blog_article_floats">
	<div>
		<h2>Recent Articles</h2>
		<div id="blog_articles_list" class="blog_article_floats_content">
		</div>
	</div>

	<div >
		<h2>Recent Comments</h2>
		<div id="blog_recent_comments_list" class="blog_article_floats_content">
		</div>
	</div>
</div>

<div id="blog_blogarticle">
	<h1>@Html.DisplayFor(model => model.Title)</h1>
	<div id="blog_article_content">
		<h3>Posted by: @Html.DisplayFor(model => model.BlogAuthor.AuthorName) at @Html.DisplayFor(model => model.CreateDate)  </h3>
		<div id="blog_article_article">@MvcHtmlString.Create(Article)</div>
	</div>
	<div id="window"></div>
	<input type="hidden" id="mainblogid" value="@Model.Id" />
</div>
<div id="blog_socialLinks">
	<div id="fb-root"></div>
	<script>
		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>
	<a href="mailto:info@CurrencyExposure.com" title="@Html.DisplayFor(model => model.Title): http://www.currencyexposure.com/getblog/@Model.Id.ToString()">
		<img src="~/Content/Images/Email.png" alt="">
	</a>
	<div id="fb-blog" class="fb-like" data-href="http://www.currencyexposure.com/getblog/1"
		 data-send="true" data-layout="button_count" data-width="450" data-show-faces="false">
	</div>

	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.currencyexposure.com/getbog/1" data-via="currencyexposur">Tweet</a>
	<script> !function (d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (!d.getElementById(id)) {
		js = d.createElement(s);
		js.id = id;
		js.src = "//platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js, fjs);
	}
}(document, "script", "twitter-wjs");
	</script>
</div>

@{Html.RenderAction("CreateComment", "Blog");}
<h1 class="blogCommentHeader">Comments</h1>
@Html.Partial("_BlogCommentListPartial", Model.BlogComments)

