@model CurrencyExposure.Model.Blog
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
	string Article = Model.Article;
}

<script type="text/x-jquery-tmpl" id="blogarticle_template">
	<div class="blogarticles_template blogfloats"><a href="/Blog/GetBlog/${Id}">${Title}</a><br />
		${Author} - ${formatDate(CreateDate)}</div><br />
</script>

<script type="text/x-jquery-tmpl" id="blogcomment_template">
	<div class="blogcomments_template blogfloats"><a href="/Blog/GetBlog/${BlogId}">${Comment}</a><br />
		${Name} - ${formatDate(CreateDate)}</div><br />	
</script>


<script>
	function formatDate(datetime) {
		var dateObj = new Date(datetime);
		return dateObj.toDateString();
	}
	$(document).ready(function () {
		$("ul#navigation li").removeClass("selected");
		$("#BlogTab").addClass("selected");

		$.getJSON("/Blog/GetArticlesList", { count: 4 }, function (data) {
			$("#blogarticle_template").tmpl(data).appendTo("#blog_articles_list");
			$(".blogarticles_template:even").css("background-color", "#EBEBE0").css("width", "100%");
			$("#blog_articles_list").append('<div class="blogbuttonblogfloat"><a id="bloglistbutton" class="blogbutton blogbuttonblogfloat" href="#" onclick="openBlogListWindow();">Show More</a></div>');
		});
		
		$.getJSON("/Blog/GetCommentsList",{count: 5}, function (data) {
			$("#blogcomment_template").tmpl(data).appendTo("#blog_recent_comments_list");
			$(".blogcomments_template:even").css("background-color", "#EBEBE0");
			$("#blog_recent_comments_list").append('<div class="blogbuttonblogfloat"><a id="blogcommentbutton" class="blogbutton" href="#" onclick="openCommentListWindow();">Show More</a></div>');
		});
	});
	
	function openBlogListWindow() {
		openListWindow("Article List","bloglistbutton", "/templates/blog_list_template.html", OnBlogWindowOpen);
	}
	
	function openCommentListWindow() {
		openListWindow("Comments", "blogcommentbutton", "/templates/comment_list_template.html", OnCommentWindowOpen);
	}
	
	function openListWindow(title, buttonName, url, openCallBack) {
		$("#window").kendoWindow({
			width: "700px",
			height: "315px",
			title: title,
			actions: ["Close"],
			visible: false,
			iframe: false,
			content: url,
			open: openCallBack
		});
		var window = $("#window").data("kendoWindow");
		window.title(title);
		window.open();
		window.center();
		//var buttonClick = $("#" + buttonName);
		//var leftOffset = buttonClick.parent().parent().position().left + 20;
		//var topOffset = buttonClick.parent().parent().position().top;
		//window.wrapper.css({
		//	top: topOffset,
		//	left: leftOffset
		//});
	}
	
	function OnCommentWindowOpen(e) {
		//alert('Comment Window closed');
	}
	
	function OnBlogWindowOpen(e) {
		//alert('BlogList Window closed');
	}

</script>

<div class="blog_article_floats">
	<div>
		<h2>Recent Articles</h2>
		<div id="blog_articles_list" class="blog_article_floats_content">
			
		</div>
	</div>

	<div >
		<h2>Recent Comments</h2>
		<div id="blog_recent_comments_list" class="blog_article_floats_content">
		
		</div>
	</div>

@*	<div>
		<h2>Archive</h2>
		<div id="blog_archive_list" class="blog_article_floats_content">
		</div>
	</div>*@
</div>

<div id="blog_blogarticle">
	<h1>Articles</h1>
	<div id="blog_article_content">
		<h2>@Html.DisplayFor(model => model.Title)</h2>
		<br />
		<h3>@Html.DisplayFor(model => model.CreateDate) > @Html.DisplayFor(model => model.BlogAuthor.AuthorName) </h3>
		<div id="blog_article_article">@MvcHtmlString.Create(Article)</div>
		
	</div>
	<div id="window"></div>
</div>
<div id="blog_socialLinks">
	<ul>
		<li>
			<a href="https://twitter.com/CurrencyExposur" title="">
				<img src="~/Content/Images/twitter_icon.png" alt="">
			</a>
		</li>
		<li>
			<a href="mailto:info@CurrencyExposure.com" title="">
				<img src="~/Content/Images/Email.png" alt="" >
			</a>
		</li>
		<li>
			<a href="http://www.facebook.com/pages/CurrencyExposurecom/430339047010625" title="">
				<img src="~/Content/Images/facebook_icon.png" alt="" >
			</a>
		</li>
	</ul>
</div>
<h2 class="blogCommentHeader">Comments</h2>
<div id="blog_comments">
	@Html.Partial("_BlogCommentPartial", Model.BlogComments)
</div>

