@model IEnumerable<CurrencyExposure.Model.BlogSummaryDto>
@foreach(var summary in Model)
{
	string article = summary.Summary;
	<div class="home_blogSummary">
		<h2>@summary.Title</h2><br/>
		<h3>Posted by: @summary.Author on @summary.CreateDate </h3>
		<div class="home_blogSummary_text">
			@MvcHtmlString.Create(article)
		</div>
		<div class="blog_button_div">
			@Ajax.ActionLink("Read More", "Index", "Blog", new {Id = @summary.Id},new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "section_body" })
		</div>
	</div>
}